<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Are you not convinced? Look what I have built.</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>An application that sends mail using the sendgrid API.</p>
                <a class="orange" target="_blank" href="#">Link here</a>
            </div>
            <div class="card third">
                <h3>Customer manager</h3>
                <p>An application to manage my clients.</p>
                <a class="orange" target="_blank" href="{{ url_for('static', filename='clientes.exe') }}">Link here</a>
            </div>
            <div class="card third">
                <h3>Task manager</h3>
                <p>An application to manage my tasks.</p>
                <a class="orange" target="_blank" href="{{ url_for('static', filename='db.exe') }}">Link here</a>
            </div>
        </div>
    </div>
</div>