<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Development with passion applications and websites</h1>
                <p>I am constantly learning new technologies and developing applications with pleasure, I built this website from scratch with python and flask and I want to know even more about this world.</p>
            </div>
            <div class="right padded">
                <h1>We can talk what you want</h1>
                <p>just send me an email <a class="orange" href="#contacto">clicking herei</a></p>
            </div>
        </div>
    </div>
</div>